<div style="background-color:#93bd15; height:100px; border-radius:16px; display:flex; justify-content:end;padding:12px;">
    <p style="color:ghostwhite; place-self:self-start">Total de tarefas</p>
    <strong style="font-size:4rem;color:ghostwhite;place-self:baseline">@quantidade</strong>
</div>

@code {
    [Parameter] public int quantidade { get; set; }
}
